.container {
  display: flex;
  /* height: 100vh; */
}
.video-feed {
  flex: 3;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.captions {
  flex: 2;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem;
  overflow-y: auto;
}
button {
  margin-bottom: 1rem;
}
.interim {
  color: rgb(84, 5, 5);
  font-style: italic;
}
.mic-bar-container {
  background-color: rgb(247, 242, 242);
  height: 6px;
  width: 100%;
  margin-bottom: 12px;
}
.mic-bar {
  height: 100%;
  background-color: rgb(137, 6, 6);
  transition: width 0.1s linear;
}